<script>
  import Zoomy from "$components/Zoomy.svelte";
  import Layer from "$components/Layer.svelte";
  import Swirly from "$components/Swirly.svelte";
  import Spirograph from "$components/Spirograph.svelte";
</script>

<main>
  <Layer style="background:black" />
  <Swirly />
  <Zoomy />
  <Spirograph />
</main>
