<script>
  export let width = 100;
  export let height = 100;

  $: viewBox = `${-width / 2} ${-height / 2} ${width} ${height}`;
</script>

<svg {viewBox} {...$$props}>
  <slot />
</svg>

<style>
  svg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
</style>
