<script>
  import Layer from "$components/Layer.svelte";
  import { time } from "$stores/time";

  export const size = 100;
  const array = (n) => [...new Array(n).keys()];

  let trail = [];
  const chunk = 1000;

  let lasttime;
  $: {
    if (lasttime) {
      const diff = ($time - lasttime) / chunk;
      const c2 = size / (7 + Math.sin($time / 1231088788888888));
      const c3 = size / (3.1 + Math.sin($time / 1000));

      trail = trail
        .concat(
          array(chunk).map((i) => {
            const t = lasttime + i * diff;

            return [
              Math.sin(t) * (size - c2) + Math.sin((t * -size) / c2) * c3,
              Math.cos(t) * (size - c2) + Math.cos((t * -size) / c2) * c3,
            ];
          })
        )
        .slice(Math.floor(-3000));
    }
    lasttime = $time;
  }
</script>

<Layer
  {size}
  preserveAspectRatio="xMidYMid"
  fill="none"
  stroke-width="0.05"
  stroke="white"
>
  <polyline points={trail} />
</Layer>
