<svelte:options namespace="svg" />

<script>
  import Layer from '$components/Layer.svelte';
  import { time } from '$stores/time'

  function createSwirl (x = 0) {
    const factors = 2 + Math.ceil(Math.random() * 8)
    const parts = new Array(factors).fill().map(() => (
      [Math.ceil(10 + Math.random() * 20), Math.ceil((Math.random() > 0.5 ? 1 : -1) * (200 + Math.random() * 2000))]
    ))

    return time => ({
      'stroke-width': (Math.sin(time/parts[0][1]) + 1) / 10,
      'stroke': `rgba(0,0,0,${(Math.sin(time/parts[2][1]) + 1) / 2}`,
      points: new Array(200).fill().map((_, i) => ([
        parts.reduce((acc, [indexMod, timeMod]) => acc + Math.sin(i/indexMod + time/timeMod), 0) + x,
        (i/10)-5
      ]))
    })
  }
  const nSwirls = 20
  const width = 10
  const swirls = new Array(nSwirls).fill().map((_, i) => createSwirl((i/(nSwirls / width))-(width/2)))
</script>

<Layer {width} height=10>
  <!-- <circle r={3 + Math.sin($time / 1000) + Math.sin($time / 400) + Math.sin($time / 300)} /> -->

  {#each swirls as swirl}
    <polyline {...swirl($time)} />
  {/each}
</Layer>

<style>
  polyline {
    /* stroke: rgba(0,0,0,0.4); */
    /* stroke-width: 0.02; */
    fill: none;
  }
</style>