<script>
  import Layer from "$components/Layer.svelte";
  import { time } from "$stores/time";

  export const size = 100;
  const PI = Math.PI;

  const array = (n) => [...new Array(n).keys()];

  const shape = ({
    size = 10,
    points = 6,
    origin: [cx, cy] = [0, 0],
    rotation = 0,
  }) =>
    array(points).map((i) => [
      Math.sin((2 * PI * i) / points + rotation) * size + cx,
      Math.cos((2 * PI * i) / points + rotation) * size + cy,
    ]);

  let fps = 0;
  let last = 0;
  $: {
    if (last) {
      fps = (1 / ($time - last)) * 1000;
    }
    last = $time;
  }
</script>

<Layer
  width={size}
  height={size}
  preserveAspectRatio="xMidYMid"
  style="background: hsl({(($time / 10000) % 300) + 180}, 50%, 20%)"
>
  {#each array(10).map((i) => {
    const ring = Math.pow(3, (i + (($time / 1500) % 1)) / 2) / 5;
    return { ring, hex: shape({
        points: 17,
        rotation: Math.sin($time / 9120),
        size: 10 * ring,
      }) };
  }) as { ring, hex }, r}
    {#each hex as origin, x (x)}
      {#each array(2).reverse() as c, y (y)}
        <polygon
          stroke="black"
          stroke-width={ring / 5}
          fill="hsla(
            {(360 * x) / 12 +
            $time / 10000 +
            (120 * ring) / 10},
            50%,
            {(ring *
            ($time / 1000000000000)) %
            10}%,
            0.5
          )"
          points={shape({
            origin,
            rotation: (2 * PI * (1 / ring) * c) / 10,
            size: ring * 4 * (c + 1),
          })}
        />
      {/each}
    {/each}
  {/each}
</Layer>

<section style="position: fixed; top: 0; background: black; color: white">
  {fps.toFixed(3)}
</section>
